*¨{
	margin: 0;
	padding: 0;
}

body{
	background: #ffffff;
}

header{
	background-image: url(../img/slider.jpg);
	height: 160px;
	width: 1220px;
	margin-right: auto;
	margin-left: auto;
}

#acces{
	height: 160px;
	width: 1220px;
}

#aunad{
	width: 190px;
	height: 32px;
	background: #004967;
	position: relative;
	top: 25px;
	border-radius: 12px;
	box-shadow: 0px 0px 5px #333;
	text-align: center;
	padding-top: 8px;
	left: 1010px;
}

#acv{
	width: 190px;
	height: 32px;
	background: #004967;
	right: 40px;
	position: relative;
	top: 50px;
	border-radius:12px;
	box-shadow: 0px 0px 5px #333;
	text-align:center;
	padding-top:8px;
	left: 1010px;
}

.accesos{
	color: #ffffff;
	text-decoration: none;
	left: auto;
	top: auto;
}


#aunad:hover{
	background: #3779b0;
	color: #004967;
}

#acv:hover{
	background: #3779b0;
	color: #004967;
}


nav{
	background-color: #004967;
}

.contenedor{
	width: 1240px;
	margin-right: auto;
	margin-left: auto;

}

.nav_horizontal {
	width: 700px;
	background-color: #004967;
	height: 40px;
	margin-right: auto;
	margin-left: auto;
}

.slider {
	height: 180px;
	width: 1220px;
	margin-right: auto;
	margin-left: auto;
}

#contenido{
	max-width: 70%;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

.Intro{
	margin: 20px;
}

.lecturas-intro{
	margin: 20px;
	}

.multimedia-intro{
	margin: 20px;
}

.actividades-intro{
	margin: 20px;
	}

.autores-intro{
	margin: 20px;
}	
	
.Lecturas{
	display: inline-block;
	margin: 20px;
}
.Multimedia{
	display: inline-block;
	margin: 20px;
}
.Actividades{
	display: inline-block;
	margin: 20px;	
}
.Autores{
	display: inline-block;
	margin: 20px;
}

.contenido1{
	margin: 20px;
}
#contenido .contenido1 {
	margin: 20px;
}

.bibliografia{
	margin: 20px;
}

aside{
	float: right;
	width: 320px;
	height: 570px;
	background: #004967;
	margin-top: 10px;
	margin: 20px;
	border-top: 5px solid #e26909;
	border-bottom: 5px solid #eab200;
	color: #ffffff;
	text-align:center;
	border-radius: 20px;	
}

footer{
	max-width: : 100%;
	height: 140px;
	background: #004967;
	color: #ffffff;
	clear: both;
	margin-top: 20px;
}

footer{
	font-size: 15px;
	font-family: arial;
	text-align: center;
}
